.flower__info__container{
    overflow: hidden;
    display: flex;
    width: 95.9%;
    height: 100%;
    position: absolute;
    left: 4.2%;
    background-color: rgba(255,255,255,1);
    opacity: 0;
}

.flower__info__img__container {
    width: 37.6%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.flower__infos__data__container {
    width: 63.4%;
    height: 100%;
    padding: 4%;
}

.flower__info__title {
    font-family: 'Copperplate29';
}

.flower__info__title__lang {
    font-size: 5vw;
    line-height: 0.6;
}

.flower__info__title__latin {
    font-size: 3vw;
}

.flower__info__caracteristics {
    margin-top: 9.3%;
    display: flex;
}

.flower__info__caracteristics__icons {
    display: flex;
    flex-direction: column;
    width: 2%;
}

.flower__info__icon {
    margin: 5% auto;
    width: 100%;

    & img {
        width: 100%;
        height: auto;
    }
}

.flower__info__caracteristics__titles {
    margin-left: 3.2%;
    font-family: 'FuturaPTMedium';
    font-size: 1.3vw;
}

.flower__info__caracteristics__titles__element {
    margin-bottom: 11%;
}

.flower__info__caracteristics__contents {
    font-family: 'FuturaPTBook';
    margin-left: 4%;
}