.flower__info__container{
    overflow: hidden;
    display: flex;
    width: 95.9%;
    height: 100%;
    position: absolute;
    left: 4.2%;
    background-color: rgba(255,255,255,1);
    opacity: 0;
}

.flower__info__img__container {
    width: 37.6%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.flower__infos__data__container {
    position: relative;
    width: 63.4%;
    height: 100%;
    padding: 4%;
}

.flower__info__title {
    font-family: 'Copperplate29';
}

.flower__info__title__lang {
    font-size: 5vw;
    line-height: 0.6;
}

.flower__info__title__latin {
    font-size: 3vw;
}

.flower__info__caracteristics {
    margin-top: 9.3%;
    display: flex;
}

.flower__info__caracteristics__section {
    font-family: 'FuturaPTMedium';
    font-size: 1.3vw;
}

.caracteristics__section__2 {
    margin-left: 2.5vw;
}

.caracteristics__section__3 {
    margin-left: 2vw;
}

.flower__info__caracteristics__titles__element {
    margin-bottom: 1vh;
    display: flex;
    align-items: baseline;
    height: 15%; 
}

.flower__info__icon {
    height: 90%;
    margin: 0 auto;

    & img {
        height: 100%;
    }
}

.flower__info__caracteristics__titles__container {
    margin-left: 2vw;
}

.flower__info__caracteristics__contents {
    font-family: 'FuturaPTBook';
    margin-left: 4%;
}

.caracteristics__section__3 {
    width: 24%;
}

.fake__icon {
    opacity: 0;
}

.flower__info__specification {
    position: absolute;
    margin-top: 1.5%;
    left: 50%;
    width: 33%;
}

.flower__info__specification__section {
    margin-bottom: 20%;
}

.flower__info__specification__title {
    margin-bottom: 8.3%;
    font-family: 'Copperplate29';
    font-size: 3.5vh;
}

.flower__info__specification__content {
    margin-bottom: 5%;
    font-family: 'FuturaPTBook';
    font-size: 2.5vh;
}