.flower__info__container{
    overflow: hidden;
    display: flex;
    width: 95.9%;
    height: 100%;
    position: absolute;
    left: 4.2%;
    background-color: rgba(255,255,255,1);
    opacity: 0;
}

.flower__info__img__container {
    width: 37.6%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.flower__infos__data__container {
    position: relative;
    width: 63.4%;
    height: 100%;
    padding: 4%;
}

.flower__info__title {
    font-family: 'Copperplate29';
}

.flower__info__title__lang {
    font-size: 5vw;
    line-height: 0.6;
}

.flower__info__title__latin {
    font-size: 3vw;
}

.flower__info__caracteristics__section {
    font-family: 'FuturaPTMedium';
    font-size: 1.3vw;
}

.caracteristics__section__1 {
    position: absolute;
    top: 25%;
}

.caracteristics__section__2 {
    position: absolute;
    left: 10%;
    top: 25%;
}

.caracteristics__section__3 {
    position: absolute;
    left: 20%;
    top: 25%;
    width: 20%;
}

.flower__info__caracteristics__element {
    margin-bottom: 1vh;
    display: flex;
    align-items: baseline;
    height: 3vh;
    width: 100%;
}

.flower__info__last__element {
    width: 100%;
    margin-top: 2%;
}

.flower__info__toxic__content {
    margin-top: 20%;
    margin-left: -70%;
    display: flex;
    align-items: center;
    color: $color-cinnabar;
}

.flower__info__toxic__content__img {
     height: 4.6vh;
}

.flower__info__toxic__content__text {
    margin-left: 0.8vw;
}

.flower__info__toxic__content__title {
}

.content__title__not__centered {
    display: flex;
    align-items: flex-start;
}

.flower__info__toxic__content__paragraph {
    font-family: 'FuturaPTBook';
}

.flower__info__icon {
    height: 80%;
    margin: 0 auto;

    & img {
        height: 100%;
    }
}

.flower__info__caracteristics__titles__container {
    margin-left: 2vw;
}

.flower__info__caracteristics__contents {
    font-family: 'FuturaPTBook';
    margin-left: 4%;
}

.fake__icon {
    opacity: 0;
}

.flower__info__specification {
    position: absolute;
    margin-top: 1.5%;
    left: 50%;
    width: 33%;
    top: 24%;
}

.flower__info__specification__section {
    margin-bottom: 20%;
}

.flower__info__specification__title {
    margin-bottom: 8.3%;
    font-family: 'Copperplate29';
    font-size: 3.5vh;
}

.flower__info__specification__content {
    margin-bottom: 5%;
    font-family: 'FuturaPTBook';
    font-size: 2.5vh;
}

.didYouKnow__wrapper {
    width: 100%;
    position: absolute;
    left: -33.66%; 
}

.didYouKnow__container {
    width: 100%;
    position: relative;
    & img {
        width: 37%;
    }
}

.didYouKnow__image {
    transition: opacity $opacity-transition-duration;
    position: absolute;
}

.didYouKnow__paragraphs__container {
    transition: opacity $opacity-transition-duration;
    position: relative;
    top: 3vh;
    line-height: 2vh;
    margin-left: 2vw;
    font-size: 1vw;
    font-family: 'FuturaPTBook';
    width: 18%;
    position: absolute;
}

.didYouKnow__paragraph {
    padding-bottom: 2vh;
}

.didYouKnow__question {
    font-size: 2vw;
    position: absolute;
    font-family: 'Copperplate29';
    left: 25vw;
    top: 68vh;
}

.didYouKnow__p__2 {
    position: absolute;
    top: 0;
    left: 13vw;
    width: 80%;
}