.game__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 48%;
    top:55%;
}

.game__button {
    position: absolute;
    width: 20%;

    color: $color-white;

    display: flex;
    align-items: center;
}

.game__button__bg__image {
    position: absolute;
    width: 100%;
}

.game__button__text__container {
    position: absolute;
    width: 60%;
    left: 12%;
}

.game__button__image {
    position: absolute;
    width: 100%;
}

.game__button__title {
    font-family: 'Copperplate30';
    font-size: 2vw;
}

.game__button__description {
    font-family: 'FuturaPTBook';
    font-size: 1vw;
}
