.guesswho__container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    perspective: 200vh;
    perspective-origin: 35%;
}

.guesswho__is__flipped {
    transform: rotateX(-180deg);
}

.guesswho__card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.guesswho__card__flower__image {
    height: 100%;
}

.guesswho__card__image__back {
    height: 100%;
}

.guesswho__card__face__back {
    transform: rotateX(-180deg);
}

.guesswho__card__game__title {
    position: absolute;
    padding: 3%;
    transform: rotateZ(-90deg) translate(-23%, -45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 19%;
    width: 68%;
    left: 59%;
    top: 13.4%;
}

.guesswho__card__game__title__content {
    text-align: center;
    font-family: 'Copperplate30';
    font-size: 1.1vw;
}

.questions__container {
    position: relative;
    left: 60%;
    top: 4%;
    width: 30%;
    height: 50%;
    text-align: center;
}

.guesswho__question {
    margin-top: 3vh;
    font-family: 'FuturaPTBook';
    font-size: 1.6vw;
}

.questions__list__wrapper {
    position: absolute;
    overflow: hidden;
    transform: translateY(-50%);
    top: 90%;
    width: 100%;
    height: 40%;
}

.questions__fog__top {
    position: absolute;
    width: 100%;
    top: 68%;
    height: 20%;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0));
}

.questions__fog__bottom {
    position: absolute;
    width: 100%;
    top: 92%;
    height: 20%;
    background: linear-gradient(rgba(255, 255, 255, 0), white 80%);
}

.questions__list {
    width: 100%;
    top: 1%;
    position: absolute;
}

.questions__top__btn {
    width: 2.5vw;
    position: absolute;
    top: 65%;
    left: 45%;
}

.questions__bottom__btn {
    left: 45%;
    width: 2.5vw;
    position: absolute;
    top: 110%;
    transform: rotateZ(180deg);
}

.answer__to__question {
    top: 138%;
    position: absolute;
    left: 49%;
    transform: translate(-50%, -50%);
    font-family: 'FuturaPTDemi';
    font-size: 2vw;
}

.guesswho__result__container {
    text-align: center;
    position: relative;
    left: 39%;
    pointer-events: none;
    width: 70%;
    height: 100%;
    // opacity: 0;
}

.guesswho__result__bravo {
    font-family: 'Copperplate30';
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.guesswho__result__congratulations {
    font-family: 'Copperplate30';
    font-size: 3vw;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}


.guesswho__restart__button {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guesswho__restart__button__image {
    position: absolute;
    width: 80%;
}

.guesswho__restart__button__text {
    font-family: 'FuturaPTBook';
    position: absolute;
    font-size: 1.7vw;
}

.guesswho__result__wrong__answer {
    font-family: 'Copperplate30';
    font-size: 2.5vw;
    position: absolute;
    text-align: center;
    top: 13.5%;
    left: 50%;
    transform: translateX(-50%);
}

.questions__list__wrong {
    width: 100%;
    top: 28%;
    position: absolute;
}

.guesswho__question__wrong {
    width: 100%;
    margin-top: 1.75vh;
    font-family: 'FuturaPTBook';
    font-size: 1.25vw;

    & span {
        font-family: "FuturaPTDemi";
    }
}

.guesswho__icon__wrong {
    margin-right: 1vw;
    transform: translateY(25%);
    width: 2.5%;
}
.guesswho__icon__correct {
    transform: translateY(25%);
    margin-right: 1vw;
    width: 2.5%;
}

.guesswho__flower__info__game__wrapper {
    position: absolute;
    top: 30%;
    right: 41%;
    width: 17%;
    height: 100%;
}

.guesswho__flower__info__game__content {
    width: 100%;
    // height: 100%;
    // text-align: center;
    position: absolute;
    // transform: translate(-50%, -50%);
    left: 10%;
    top: 2%;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
}

.guesswho__flower__info__game__title {
    // position: absolute;
    width: 100%;
    font-family: 'Copperplate30';
    font-size: 2vw;
    line-height: 0.8;
}

.guesswho__flower__info__game__latin {
    // position: absolute;
    // top: 3%;
    width: 70%;
    font-family: 'Copperplate29';
    font-size: 1.2vw;
}

.guesswho__info__caracteristics {
    position: relative;
    margin-top: 10%;
    // top: 7%;
    width: 100%;
    left: -10%;
}

.guesswho__flower__info__caracteristics__section {
    width: 100%;
    font-family: 'FuturaPTMedium';
    font-size: 1.3vw;
}

.guesswho__caracteristics__section__1 {
    position: absolute;
    left: -50%;
    top: 25%;
}

.guesswho__caracteristics__section__2 {
    position: absolute;
    left: 10%;
    top: 25%;
}

.guesswho__caracteristics__section__3 {
    position: absolute;
    left: 50%;
    top: 25%;
    width: 100%;
}

.guesswho__flower__info__caracteristics__element {
    margin-bottom: 1vh;
    display: flex;
    align-items: baseline;
    height: 3vh;
    // width: 100%;
}

.guesswho__flower__info__last__element {
    width: 40vw;
    margin-top: 2%;
}

.guesswho__flower__info__toxic__content {
    margin-top: 20%;
    margin-left: -70%;
    display: flex;
    align-items: center;
    color: $color-cinnabar;
}

.guesswho__flower__info__toxic__content__img {
     height: 5vh;
     margin-left: 20%;
}

.guesswho__flower__info__toxic__content__text {
    margin-left: 0.8vw;
}

.guesswho__content__title__not__centered {
    display: flex;
    align-items: flex-start;
}

.guesswho__flower__info__toxic__content__paragraph {
    font-family: 'FuturaPTBook';
}

.guesswho__flower__info__icon {
    height: 80%;
    margin: 0 auto;

    & img {
        height: 100%;
    }
}

.guesswho__flower__info__caracteristics__titles__container {
    margin-left: 2vw;
}

.guesswho__flower__info__caracteristics__contents {
    font-family: 'FuturaPTBook';
    margin-left: 4%;
}

.guesswho__fake__icon {
    opacity: 0;
}

.guesswho__flower__info__game__illustration {
    position: absolute;
    transform: translate(-75%, -25%);
}

.guesswho__flower__info__game__circle {
    position: absolute;
    width: 170%;
    transform: translate(-15%, -10%);
}

.guesswho__flower__info__game__cross {
    position: absolute;
    width: 25%;
    left: 110%;
    top: 0%;
}