.memory__container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    perspective: 100vh;
}

.is__flipped__from__left {
    transform: rotateY(180deg);
}

.is__flipped__from__right {
    transform: rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__text__back {
    width: 110.3%;
}

.card__image__back {
    width: 102%;
}

.memory__card__flower__image {
    width: 100%;
}

.memory__card__title__background {
    position: absolute;
    width: 110.3%;
    transform: translateX(-9%);
}

.memory__card__title {
    width: 100%;
    height: 100%;
}

.memory__card__title__text {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Copperplate30';
    font-size: 1.2vw;
}

.card__face__back {
    transform: rotateY(180deg);
}

.memory__result__container {
    text-align: center;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.memory__result__bravo {
    font-family: 'Copperplate30';
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.memory__result__congratulations {
    font-family: 'Copperplate30';
    font-size: 3vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}


.memory__restart__button {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memory__restart__button__image {
    position: absolute;
    width: 100%;
}

.memory__restart__button__text {
    font-family: 'FuturaPTBook';
    position: absolute;
    font-size: 1.7vw;
}

