.menu__wrapper {
    position: absolute;
    width: 3.6%;
    right: 0;
    height: 100%;
}

.menu__container {
    transition: background-color $color-transition-duration;
    transition: color $color-transition-duration;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-green-spring;
}

.btn__navigation {
    margin-top: 20%;
}

.btn__back {
    margin-bottom: 50%;
}

.btn__home__path {
    transition: all $color-transition-duration;
}

.btn__lang__container {
    transition: background-color $color-transition-duration;
    transition: color $color-transition-duration;
    width: 61%;
    height: 4%;
    font-size: 70%;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}