.quiz__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.quiz__title__flower {
    position: absolute;
    width: 38.6%;
    font-family: "Copperplate30";
    font-size: 3.9vw;
    line-height: 5.3vh;
    top: 7%;
    left: 4%;
}

.quiz__question__paragraph {
    position: absolute;
    width: 29%;
    font-family: "FuturaPTBook";
    font-size: 2.1vw;
    top: 22%;
    line-height: 4.7vh;
    left: 4%;
}

.quiz__paragraphs__container :nth-child(2){
    left: 36%;
    width: 27%;
}

.quiz__pictures__container {
    position: absolute;
    width: 64.2%;
    height: 43%;
    bottom: 0;
    display: flex;
}

.quiz__single__picture{
    width: 52%;
}

.quiz__horizontal__choices {
    width: 48%;
    height: 100%;
}

.quiz__picture__with__title {
    height: 100%;
    width: 33.33%;
}

.multi__picture__title {
    width: 100%;
    height: 17%;
    font-family: 'FuturaPTBook';
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi__picture__image {
    width: 100%;
}

.quiz__choice__title {
    height: 33.33%;
    font-family: 'FuturaPTBook';
    font-size: 1.5vw;
}

.quiz__answer__comment {
    position: absolute;
    font-family: "FuturaPTBook";
    font-size: 1.3vw;
    line-height: 2.5vh;
    width: 17%;
    height: 43%;
    left: 72.2%;
    bottom: 0;
}

.quiz__next__question__button {
    display: flex;
    justify-content: right;
    align-items: center;
    transform: translateX(-100%);
    
    position: absolute;
    left: 88.2%;
    bottom : 10.4%;
}

.quiz__next__icon {
    width: 2.2vw;
    margin-left: 0.4vw;
}

.quiz__next__text {
    font-family: 'FuturaPtDemi';
    font-size: 1.2vw;
    width: 10vw;
}

.quiz__count {
    position: absolute;
    top: 7.8%;
    right: 7.7%;
    font-family: "FuturaPTBook";
    font-size: 2.6vw;
}

