.toxic__container {
    width: 100%;
    height: 100%;
}

.toxic__result__container {
    text-align: center;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.toxic__restart__button__image {
    position: absolute;
    width: 120%;
}

.toxic__result__bravo {
    font-family: 'Copperplate30';
    font-size: 4vw;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.toxic__result__congratulations {
    font-family: 'Copperplate30';
    width: 40%;
    font-size: 3vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


.toxic__restart__button {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toxic__restart__button__image {
    position: absolute;
    width: 100%;
}

.toxic__restart__button__text {
    font-family: 'FuturaPTBook';
    position: absolute;
    font-size: 1.7vw;
}

.toxic__description {
    position: absolute;
    top: 180%;
    width: 120%;
    font-family: 'FuturaPTMedium';
    font-size: 1vw;
    color: $color-cinnabar;
    display: flex;
}

.toxic__description__content {
    position: absolute;
    left: 30%;
}