$color-white: #fff;
$color-green-spring: #AAB8A8;
$color-green-asparagus: #7AA269;
$color-hippie-green:#52774E;
$color-blue-cornflower: #A3CCED;
$color-cinnabar: #E64B1D;
$color-confetti: #E8D262;
$color-shadow: #816D52;

$color-transition-duration: 1s;
$opacity-transition-duration: 0.5s;