@font-face {
    font-family: "Copperplate29";
    src: url("../../assets/fonts/Copperplate/Copperplate-Gothic-Std-29-BC.ttf") format("truetype");
}

@font-face {
    font-family: "Copperplate30";
    src: url("../../assets/fonts/Copperplate/Copperplate-Gothic-Std-30-BC.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaPTBook";
    src: url("../../assets/fonts/Futura/FuturaPTBook.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPTLight";
    src: url("../../assets/fonts/Futura/FuturaPTLight.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPTDemi";
    src: url("../../assets/fonts/Futura/FuturaPTDemi.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPTMedium";
    src: url("../../assets/fonts/Futura/FuturaPTMedium.otf") format("opentype");
    line-height: 1.2;
}

@font-face {
    font-family: "FuturaPTBold";
    src: url("../../assets/fonts/Futura/FuturaPTBold.otf") format("opentype");
    line-height: 1.2;
}